<div class="pt-17">
    <app-titulo>Datos personales</app-titulo>

    <form (submit)="handleSubmit()" class=" md:grid md:grid-cols-2"
          [formGroup]="myForm">


        <div>
            <div class=" mb-4">
                <app-label>Nombre</app-label>
                <!-- [ngClass]="{'input-invalid': campoInvalido('email')}" -->
                <input formControlName="name"
                       class="input-disabled"
                       type="text">
                <!-- <app-error-message *ngIf="campoInvalido('email')">Campo requerido
                        </app-error-message> -->
            </div>

            <div class="mb-4">
                <app-label>Apellidos</app-label>
                <!-- [ngClass]="{'input-invalid': campoInvalido('email')}" -->
                <input formControlName="last_name"
                       class="input-disabled"
                       type="text">
                <!-- <app-error-message *ngIf="campoInvalido('email')">Campo requerido
                                                </app-error-message> -->
            </div>

            <div class="mb-4">
                <app-label>Email</app-label>
                <!-- [ngClass]="{'input-invalid': campoInvalido('email')}" -->
                <input formControlName="email"
                       class="input-disabled"
                       type="text">
                <!-- <app-error-message *ngIf="campoInvalido('email')">Campo requerido
                                </app-error-message> -->
            </div>

            <div class="mb-4">
                <app-label>Telefono</app-label>
                <!-- [ngClass]="{'input-invalid': campoInvalido('email')}" -->
                <input formControlName="telefono"
                       class="input-disabled"
                       type="text">
                <app-error-message *ngIf="campoInvalido('telefono')">Campo requerido
                </app-error-message>
            </div>


            <div class="mb-4">
                <app-label>Grado de doctor</app-label>
                <!-- [ngClass]="{'input-invalid': campoInvalido('email')}" -->
                <input formControlName="titulo_medico"
                       class="input-disabled"
                       type="text">
                <!-- <app-error-message *ngIf="campoInvalido('email')">Campo requerido
                                                </app-error-message> -->
            </div>

            <div class="mb-4">
                <app-label>Especialidad</app-label>
                <!-- [ngClass]="{'input-invalid': campoInvalido('email')}" -->
                <select formControlName="especialidad_id" class="input-disabled">
                    <option value="1">Pediatra</option>
                    <option value="2">Ginecologo</option>
                    <option value="3">Doctor</option>
                    <option value="4">Ginecologo</option>
                    <option value="5">Pediatra</option>
                </select>
                <!-- <app-error-message *ngIf="campoInvalido('email')">Campo requerido
                                            </app-error-message> -->
            </div>

            <div class="mb-4 text-center">
                <app-label>Agregar Horario</app-label>
                <input class="border rounded-sm py-1 px-4 border-gray-400" type="time"
                       [formControl]="myHora">
                <app-button-secondary (onClick)="agragarHorario()">Agregar
                </app-button-secondary>
            </div>

            <div class="mb-4" formArrayName="horarios">
                <app-label>Horarios</app-label>
                <div *ngFor="let horario of horariosArr.controls;let i = index">
                    <div class="grid grid-cols-2 gap-3 mb-2">
                        <input [formControlName]="i"
                               class="border rounded-sm py-1 px-4 border-gray-400"
                               type="time">
                        <button (click)="removeHorario(i)"
                                class="bg-blue-400">Eliminar</button>
                    </div>
                </div>
            </div>


        </div>

        <!-- ** Perfil del medico ** -->
        <div class="card p-4 profile  justify-self-center">
            <p class="mb-4">Foto de perfil</p>

            <div *ngIf="cargando === 'cargando';else foto">
                ...cargando
            </div>

            <ng-template #foto>
                <div class="avatar">
                    <input type="file" (change)="changeImage($event)" #fileUploader
                           id="file-uploader">
                    <!-- <div #img class="img"
                         [style]="'background-image: url('+ image?.value +')'">
                    </div> -->

                    <div>
                        <img class="img" [src]="image?.value" alt="">
                    </div>
                    <label for="file-uploader" class="avatar-selector bg-indigo-500">
                        <img src="assets/icons/camera.svg" alt="">
                    </label>
                </div>
            </ng-template>

        </div>

        <div class="text-center mb-4">
            <app-button type="submit">Enviar</app-button>
        </div>
    </form>
</div>


<app-alert *ngIf="enviando === 'success'">
    Se actulizo perfil
</app-alert>

<app-alert-error *ngIf="enviando === 'error'">
    Error
</app-alert-error>
