div {
    display: flex;
    justify-content: center;
}

h2 {
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
    font-family: cursive;
}

h2::after,
h2::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
}

h2::before {
    left: -65px;
}

h2::after {
    right: -65px;
}
