<app-nav-bar></app-nav-bar>

<section
         class="pt-17"
         id="incio">
    <article
             class="hero-image text-white"
             style="--image:url('assets/images/image3.jpg')">
        <aside
               class="hero-image-opacity text-center flex flex-col justify-center items-center md:grid md:grid-cols-2">
            <div class="hero-image-content-usuario self-center justify-self-center p-10">
                <h2 class="text-4xl mb-4">Inicia como paciente</h2>
                <p class="mb-4">Para hacer tus consultas a medicos de todo el mundo</p>
                <button
                        class="bg-indigo-500 py-3 font-bold w-56 shadow-lg shadow-indigo-500/50 hover:bg-indigo-600 transition-all">
                    Inicia aqui
                </button>
            </div>
            <div class="hero-image-content-medico self-center justify-self-center p-10">
                <h2 class="text-4xl mb-4">Incia como medico</h2>
                <p class="mb-4">Para recibir y atender a pacientes de todo el mundo</p>
                <button
                        class="bg-indigo-500 py-3 font-bold w-56 shadow-lg shadow-indigo-500/50 hover:bg-indigo-600 transition-all">
                    Inicia aqui
                </button>
            </div>
        </aside>
    </article>
</section>

<section class="pt-17">
    hola mundos
</section>



<!-- <div
    class="pt-20"
    id="part3"
    style="width: 80%;"
>
    <h1>part 3</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolorum delectus
        harum nostrum veniam a, ipsum iure nesciunt quod minus rem vero fugit maiores
        sequi quibusdam asperiores doloribus fuga ipsam explicabo, saepe, quisquam in
        aspernatur. Vitae harum quos sapiente nostrum magnam reprehenderit, quod
        autem,
        dolores pariatur consequuntur ut quaerat aut minima sunt ducimus odio fuga
        illum
        corporis dolore repellendus voluptatem, consequatur expedita. Unde quia
        aperiam
        libero veritatis! Velit maiores ea accusantium veniam dolores numquam quam,
        deleniti animi fuga illo delectus obcaecati cum id aut consequatur repellendus
        dolorum a tempore ullam dolorem provident labore natus! Maiores sapiente quae
        laborum quas aliquam!</p>
</div> -->
