<nav class="nav bg-indigo-600 shadow-lg shadow-indigo-500/20">

    <div class="nav_container font-family">

        <!-- ! logo -->
        <div>
            <img
                 src="favicon.ico"
                 alt="">
        </div>

        <!-- ! menu-open-close -->
        <label for="menu" class="nav_label">
            <img class="text-white"
                 src="assets/icons/menu.svg"
                 alt="menu">
        </label>

        <input
               type="checkbox"
               id="menu"
               class="nav_input">

        <!-- ! links del menu -->
        <div class="nav_menu bg-indigo-600 shadow-lg shadow-indigo-500/40">
            <div
                 class="nav_item cursor-pointer hover:text-gray-700"
                 routerLink
                 fragment="part1"
                 routerLinkActive="text-gray-600"
                 [routerLinkActiveOptions]="{exact: true}">
                Incio
            </div>

            <div
                 class="nav_item cursor-pointer hover:text-gray-700"
                 routerLink
                 fragment="part2"
                 routerLinkActive="text-gray-600"
                 [routerLinkActiveOptions]="{exact: true}">
                Servicios
            </div>

        </div>

    </div>

</nav>
