<app-layout-auth>

    <form [formGroup]="myForm" class="shadow-lg w-96 shadow-primary/50 p-4">

        <app-titulo>Registrarse</app-titulo>

        <div class="text-center bg-red-400/40 mb-4">
            <app-error-message *ngIf="error">{{error}}</app-error-message>
        </div>

        <div class="text-center bg-green-400 text-white mb-4">
            <app-error-message *ngIf="status === 'success'">
                Datos correctos ahora puede iniciar sesión
            </app-error-message>
        </div>

        <div class="mb-4">
            <app-label>Nombre</app-label>
            <input formControlName="name"
                   [ngClass]="{'input-invalid': campoInvalido('name')}"
                   class="input-disabled"
                   type="text">
            <app-error-message *ngIf="campoInvalido('name')">Campo requerido
            </app-error-message>
        </div>

        <div class="mb-4">
            <app-label>Apellidos</app-label>
            <input formControlName="last_name"
                   [ngClass]="{'input-invalid': campoInvalido('last_name')}"
                   class="input-disabled"
                   type="text">
            <app-error-message *ngIf="campoInvalido('last_name')">Campo requerido
            </app-error-message>
        </div>

        <div class="mb-4">
            <app-label>Email</app-label>
            <input formControlName="email"
                   [ngClass]="{'input-invalid': campoInvalido('email')}"
                   class="input-disabled"
                   type="text">
            <app-error-message *ngIf="campoInvalido('email')">Campo requerido
            </app-error-message>
        </div>

        <div class="mb-4">
            <app-label>Especialidad</app-label>
            <input formControlName="especialidad_id"
                   [ngClass]="{'input-invalid': campoInvalido('especialidad_id')}"
                   class="input-disabled"
                   type="number">
            <app-error-message *ngIf="campoInvalido('especialidad_id')">Campo requerido
            </app-error-message>
        </div>

        <div class="mb-4">
            <app-label>Contraseña</app-label>
            <input formControlName="password"
                   [ngClass]="{'input-invalid': campoInvalido('password')}"
                   class="input-disabled"
                   name="password"
                   autocomplete="on"
                   type="password">
            <app-error-message *ngIf="campoInvalido('password')">Campo requerido
            </app-error-message>
        </div>

        <div class="mb-4">
            <app-label>Confirmar contraseña</app-label>
            <input formControlName="password_confirmation"
                   [ngClass]="{'input-invalid': campoInvalido('password_confirmation')}"
                   class="input-disabled"
                   name="password_confirmation"
                   autocomplete="on"
                   type="password">
            <app-error-message *ngIf="campoInvalido('password_confirmation')">
                Campo requerido
            </app-error-message>
        </div>

        <div *ngIf="status === 'loading'; else button" class="text-center">
            <app-button (onClickFunction)="handleSubmit()" [disable]="true">
                Cargando...
            </app-button>
        </div>

        <ng-template #button>
            <div class=" text-center">
                <app-button (onClickFunction)="handleSubmit()">Enviar</app-button>
            </div>
        </ng-template>

        <div class="flex mt-3 text-sm">
            <span class="text-gray-600 mr-4">¿Ya tienes cuenta? </span>
            <p routerLink="/auth/login" class="hover:underline cursor-pointer font-bold">
                Inicia sesión</p>
        </div>
    </form>


</app-layout-auth>
